# Default owners for everything in the repo
*               @Geasfun

# Program
/programs/      @Geasfun

# Client libs
/sdk/           @Geasfun
/cli/           @Geasfun

# Docs / meta
/docs/          @Geasfun
/.github/       @Geasfun
